@model Imobiliarias.Models.ImovelViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Datalhes</h1>

<div>
    <h4>Imovel</h4>
    <hr />
    <partial name="_Carrossel" model="Model.Fotos"/>
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Negocio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Negocio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponivel)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeClienteDono)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeCorretorGestor)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeCorretorNegociador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ImovelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
